<tr>
    <td>@Person.Forename   </td>
    <td>@Person.Surname   </td>
    <td>@Person.Company        </td>
    <td>@Person.Mail          </td>
    <td>@Person.DateRegistered        </td>
    <td>@Person.Phone         </td>
    <td>@Person.PersonalNumber</td>
    <td>@Person.Street        </td>
    <td>@Person.City          </td>
    <td>@Person.Postalcode        </td>
    <td>@Person.Country        </td>
    <td>@Person.ID            </td>
    <td>@Person.Active        </td>
</tr>