<table class="table">
    <thead>
    <tr>
        <th @onclick="@(e => Sort("Forename"))">Forename </th>
        <th @onclick="@(e => Sort("Surname"))">Surname </th>
        <th @onclick="@(e => Sort("Company"))">Company </th>
        <th @onclick="@(e => Sort("Mail"))">Mail </th>
        <th @onclick="@(e => Sort("DateRegistered"))">Date Registered </th>
        <th @onclick="@(e => Sort("Phone"))">Phone </th>
        <th @onclick="@(e => Sort("PersonalNumber"))">Personal Number </th>
        <th @onclick="@(e => Sort("Street"))">Street </th>
        <th @onclick="@(e => Sort("City"))">City </th>
        <th @onclick="@(e => Sort("PostalCode"))">Postal Code </th>
        <th @onclick="@(e => Sort("Country"))">Country </th>
        <th @onclick="@(e => Sort("ID"))">ID </th>
        <th @onclick="@(e => Sort("Active"))">Is Active </th>
        <th @onclick="@(e => Sort("Date"))">Date </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Persons)
    {
        <PersonTableRow Person="person"></PersonTableRow>
    }
    </tbody>
</table>